.my-select{
	border-radius: 4px;
	overflow: hidden;
	// .uni-easyinput{
	// 	:deep(.is-disabled){
	// 		background-color: transparent;
	// 		color: #828282;
	// 		// background-color: #f7f6f6;
	// 		//     color: #d5d5d5;
	// 	}
	// 	.uni-easyinput__placeholder-class,
	// 	:deep(.uni-input-input){
	// 		font-size: 14px;
	// 		text-align: right;
	// 	}
	// 	.uniui-right{
	// 		font-size: 16px !important;
	// 		&:before{
	// 			font-size: 16px !important;
	// 		}
	// 	}
	// }
	&-text{
		width: 100%;
		font-size: 14px;
		text-align: right;
		padding: 6px 9px;
		box-sizing: border-box;
		color:#828282;
		// background-color: #fff;
		:deep(.uniui-right){
			font-size: 14px !important;
			color: #828282 !important;
		}
		&:active{
			color:#909195;
		}
	}
	&-disabled{
		background-color: #f7f6f6;
		color: #d5d5d5;
		.uniui-right{
			color: #d5d5d5 !important;
		}
		&:active{
			color: #d5d5d5;
		}
	}
	
}